<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="extension-options">
  <template>
    <paper-material elevation="1" class="options-form">
      <h1><iron-icon class="big app-icon" src="../icon/Stopclock_128.png"></iron-icon>Redmine Time Tracker</h1>
      <iron-ajax id="redmine" auto handle-as="json" on-error="{{}}"></iron-ajax>
      <paper-input label="Redmine root URL" value="{{redmineRootUrl}}" required></paper-input>
      <paper-input label="API Access Key" value="{{apiAccessKey}}" required></paper-input>
      <paper-button id="saveButton" icon="done" raised on-click="saveOptions">
        <iron-icon icon="done"></iron-icon>OK
      </paper-button>
    </paper-material>

  </template>
  <style>
    .app-icon {
      vertical-align: text-bottom;
      margin-right: 0.2em;
    }
    .big {
      --iron-icon-height: 32px;
      --iron-icon-width: 32px;
    }
    .options-form {
      padding: 20px;
    }
    paper-button {
      vertical-align: middle;
      width: 8em;
      margin: 25px 0;
    }
    #saveButton {
      background-color: #4285f4;
      color: #ffffff;
    }
  </style>
  <script>
    Polymer({

      is: 'extension-options',

      ready: function() {
        this.fetchOptions();
      },

      fetchOptions: function() {
        var self = this;
        chrome.storage.local.get(function(data) {
          self.redmineRootUrl = data.options.redmineRootUrl;
          self.apiAccessKey = data.options.apiAccessKey;
        });
      },

      saveOptions: function() {
        chrome.storage.local.set({
          options: {
            redmineRootUrl: this.redmineRootUrl,
            apiAccessKey: this.apiAccessKey
          }
        });
      }
    });
  </script>
</dom-module>
