<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
 <link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="issue-statuses-select">

  <style>
    paper-menu {
      min-width: 100px;
    }

    paper-item:hover {
      background-color: var(--divider-color);
    }

    .dropdown-trigger {
      min-width: 100px;
      display: inline-flex;
      @apply(--layout-horizontal);
      @apply(--layout-justified);
      cursor: pointer;
      color: var(--secondary-text-color);
      border-bottom: 1px solid var(--secondary-text-color);
    }

    .dropdown-icon {
      color: var(--secondary-text-color);
    }
  </style>

  <template>
    <div class="horizontal left-justified layout">
      <paper-menu-button>
        <div id="selected-status-name" class="dropdown-trigger">
          <div>{{selectedStatusName}}</div>
          <iron-icon class="dropdown-icon" icon="arrow-drop-down"></iron-icon>
        </div>
        <paper-menu selected={{selectedIndex}} class="dropdown-content" >
          <template is="dom-repeat" items="{{redmine.issue_statuses}}">
            <paper-item class="dropdown-content">{{item.name}}</paper-item>
          </template>
        </paper-menu>
      </paper-menu-button>
    </div>
    <iron-ajax
        auto
        url="{{_resolveIssueStatusesUrl(redmineRootUrl)}}"
        params={{_resolveApiParams(apiAccessKey)}}
        handle-as="json"
        on-response="_select"
        last-response="{{redmine}}"></iron-ajax>
  </template>

  <script>
    Polymer({

      is: 'issue-statuses-select',

      properties: {

        redmineRootUrl: {
          type: String
        },

        apiAccessKey: {
          type: String
        },

        selectedStatusId: {
          type: Number,
          notify: true
        },

        selectedStatusName: {
          type: String,
          notify: true
        },

        empty: {
          type: String
        }
      },

      observers: [
        "_selected(selectedIndex)"
      ],

      ready: function() {
        this.selectedStatusName = this.empty;
      },

      _resolveIssueStatusesUrl: function(redmineRootUrl) {
        return redmineRootUrl + "issue_statuses.json";
      },

      _resolveApiParams: function(apiAccessKey) {
        return {key: apiAccessKey};
      },

      _selected: function(index) {
        this.selectedStatusId = this.redmine.issue_statuses[index].id;
        this.selectedStatusName = this.redmine.issue_statuses[index].name;
      },

      _select: function() {
        if (!this.redmine) { return; }

        var length = this.redmine.issue_statuses.length;
        for (var i = 0; i < length; i++) {
          if (this.redmine.issue_statuses[i].id == this.selectedStatusId) {
            this.selectedIndex = i;
            return;
          }
        }
      }
    });
  </script>
</dom-module>
