<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<dom-module id="timer-view">

  <style>
    a {
      color: #000;
      text-decoration: none;
    }
    paper-item-body {
      min-width: 300px;
    }
    paper-toast > paper-button {
      color: #eeff41;
      margin: 10px;
    }
    #issue-box {
      margin: 10px;
    }
    #timer-box {
      padding: 10px;
      border-top: solid 1px lightgray;
    }
  </style>

  <template>
    <paper-item fullbreed>
      <paper-item-body hidden$="{{!isNoTask(status)}}">
        <div>No task</div>
      </paper-item-body>
      <paper-item-body hidden$="{{isNoTask(status)}}" two-line>
        <div id="issue-box">
          <a href="{{resolveIssueLinkUrl(options, issueId)}}" target="_blank">
            <span id="issueId">#<span>{{issueId}}</span></span>
            <span id="issueName">{{redmine.issue.subject}}</span>
          </a>
        </div>
        <div id="timer-box" secondary>
          <span>{{formatSpendMillisec(spendMillisec)}}</span>
          <paper-icon-button icon="av:play-arrow" on-click="resumeTimer" hidden$="{{isRunning(status)}}"></paper-icon-button>
          <paper-icon-button icon="av:pause" on-click="pauseTimer" hidden$="{{!isRunning(status)}}"></paper-icon-button>
          <paper-icon-button icon="av:stop" on-click="stopTimer"></paper-icon-button>
          <paper-icon-button icon="av:skip-previous" on-click="resetTimer"></paper-icon-button>
          <paper-toast id="reset-toast" text="時間をリセットしました" duration=1500>
            <paper-button on-click="revertResetTimer">戻す</paper-button>
          </paper-toast>
        </div>
    </paper-item>
    <iron-ajax
        auto$="{{!isNoTask(status)}}"
        url="{{resolveIssueJsonUrl(options, issueId)}}"
        params={{resolveApiParams(options)}}
        handle-as="json"
        last-response="{{redmine}}"></iron-ajax>
  </template>

  <script>
    Polymer({

      is: 'timer-view',

      properties: {

        options: {
          type: Object
        },

        issueId: {
          type: String,
          value: null
        },

        issueName: {
          type: String,
          value: ""
        },

        status: {
          type: String,
          value: 'noTask'
        },

        spendMillisec: {
          type: Number,
          value: 0
        }
      },

      ready: function() {
        this.startTimer();
        this.applyOptions();
      },

      startTimer: function() {
        var self = this;
        var tickTimer = function() {
          chrome.storage.local.get(function(data) {
            if (data.timer.status != 'noTask') {
              self.issueId = data.timer.issueId;
              self.status = data.timer.status;
              self.spendMillisec = data.timer.spendMillisec;
            }
            setTimeout(tickTimer, 1000);
          });
        };
        tickTimer();
      },

      applyOptions: function() {
        var self = this;
        chrome.storage.local.get(function(data) {
          if (data.options) {
            self.options = data.options;
          }
        });
      },

      formatSpendMillisec: function(spendMillisec) {
        var date = new Date(spendMillisec);
        return ('0' + date.getUTCHours()).slice(-2) + ":" + ('0' + date.getUTCMinutes()).slice(-2) + ":" + ('0' + date.getUTCSeconds()).slice(-2);
      },

      resolveIssueLinkUrl: function(options, issueId) {
        return options.redmineRootUrl + "issues/" + issueId;
      },

      resolveIssueJsonUrl: function(options, issueId) {
        return options.redmineRootUrl + "issues/" + issueId + ".json";
      },

      resolveApiParams: function(options) {
        return {key: options.apiAccessKey};
      },

      isNoTask: function(status) {
        return status == 'noTask';
      },

      resumeTimer: function() {
        chrome.runtime.sendMessage({method: "resume-timer"});
      },

      isRunning: function(status) {
        return status == 'running';
      },

      pauseTimer: function() {
        chrome.runtime.sendMessage({method: "pause-timer"});
      },

      stopTimer: function() {
        chrome.runtime.sendMessage({method: "stop-timer"});
      },

      resetTimer: function() {
        chrome.runtime.sendMessage({method: "reset-timer"}, function(response) {
          if (response.success) {
            document.querySelector("#reset-toast").show();
          }
        });
      },

      revertResetTimer: function() {
        console.log("revert");
        chrome.runtime.sendMessage({method: "revert-reset-timer"}, function(response) {
          if (response.success) {
            document.querySelector("#reset-toast").hide();
          }
        });
      }

    });
  </script>
</dom-module>
