<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="timer-view">

  <style>

    :host {
      font-size: 1rem;
    }

    .element {
      padding: 0.5rem;
    }

    a {
      color: var(--primary-text-color);
      text-decoration: none;
    }

    paper-button {
      cursor: pointer;
    }

    .dropdown-content paper-item {
      cursor: pointer;
      font-size: 0.5em;
      min-height: 0;
    }
    .dropdown-content paper-item:hover {
      background-color: var(--divider-color);
    }

    paper-toast > paper-button {
      color: var(--paper-lime-a200);
      margin: 10px;
    }

    #spend-time {
      color: var(--secondary-text-color);
    }

    #issueId {
      color: var(--secondary-text-color);
    }

    #timer-box {
      border-top: solid 1px var(--divider-color);
    }

    #timer-box paper-icon-button {
      color: var(--primary-text-color);
    }
  </style>

  <template>
      <paper-material class="view-main" hidden$="{{!isNoTask(status)}}">
        <div>No task</div>
      </paper-material>

      <paper-material class="view-main" hidden$="{{isNoTask(status)}}">
        <div id="issue-box" class="layout horizontal">
          <div class="element">
            <span id="issueId">#<span>{{issueId}}</span></span>
          </div>
          <div class="element">
            <a href="{{resolveIssueLinkUrl(options, issueId)}}" target="_blank">
              <span id="issueName">{{redmine.issue.subject}}</span>
            </a>
          </div>
        </div>
        <div id="timer-box" class="layout horizontal center-justified">
          <div class="element layout horizontal center">
            <span id="spend-time">{{formatSpendMillisec(spendMillisec)}}</span>
          </div>
          <div class="element layout horizontal center">
            <paper-icon-button id="resume-btn" icon="av:play-arrow" on-click="resumeTimer" hidden$="{{isRunning(status)}}"></paper-icon-button>
            <paper-tooltip for="resume-btn" margin-top="0">再開</paper-tooltip>
            <paper-icon-button id="pause-btn" icon="av:pause" on-click="pauseTimer" hidden$="{{!isRunning(status)}}"></paper-icon-button>
            <paper-tooltip for="pause-btn" margin-top="0">一時停止</paper-tooltip>
            <paper-icon-button id="stop-btn" icon="av:stop" on-click="stopTimer"></paper-icon-button>
            <paper-tooltip for="stop-btn" margin-top="0">停止(作業時間を記録)</paper-tooltip>
            <paper-menu-button id="rewind-menu" vertical-align="bottom">
              <paper-icon-button id="rewind-btn" icon="restore" class="dropdown-trigger"></paper-icon-button>
              <div class="dropdown-content">
                <paper-item on-click="rewindTimerHalfHour">30分</paper-item>
                <paper-item on-click="rewindTimerOneHour">1時間</paper-item>
                <paper-item on-click="resetTimer">リセット</paper-item>
              </div>
            </paper-menu-button>
            <paper-tooltip for="rewind-btn" margin-top="0">時間を戻す</paper-tooltip>
            <paper-toast id="modify-toast" duration=2000>
              <paper-button on-click="revertResetTimer">戻す</paper-button>
            </paper-toast>
          </div>
        </div>
    </paper-material>
    <iron-ajax
        auto$="{{!isNoTask(status)}}"
        url="{{resolveIssueJsonUrl(options, issueId)}}"
        params={{resolveApiParams(options)}}
        handle-as="json"
        last-response="{{redmine}}"></iron-ajax>
  </template>

  <script>
    Polymer({

      is: 'timer-view',

      properties: {

        options: {
          type: Object
        },

        issueId: {
          type: String,
          value: null
        },

        issueName: {
          type: String,
          value: ""
        },

        status: {
          type: String,
          value: 'noTask'
        },

        spendMillisec: {
          type: Number,
          value: 0
        }
      },

      ready: function() {
        this.startTimer();
        this.applyOptions();
      },

      startTimer: function() {
        var self = this;
        var tickTimer = function() {
          chrome.storage.local.get(function(data) {
            if (data.timer.status != 'noTask') {
              self.issueId = data.timer.issueId;
              self.status = data.timer.status;
              self.spendMillisec = data.timer.spendMillisec;
            }
            setTimeout(tickTimer, 1000);
          });
        };
        tickTimer();
      },

      applyOptions: function() {
        var self = this;
        chrome.storage.local.get(function(data) {
          if (data.options) {
            self.options = data.options;
          }
        });
      },

      formatSpendMillisec: function(spendMillisec) {
        var date = new Date(spendMillisec);
        return ('0' + date.getUTCHours()).slice(-2) + ":" + ('0' + date.getUTCMinutes()).slice(-2) + ":" + ('0' + date.getUTCSeconds()).slice(-2);
      },

      resolveIssueLinkUrl: function(options, issueId) {
        return options.redmineRootUrl + "issues/" + issueId;
      },

      resolveIssueJsonUrl: function(options, issueId) {
        return options.redmineRootUrl + "issues/" + issueId + ".json";
      },

      resolveApiParams: function(options) {
        return {key: options.apiAccessKey};
      },

      isNoTask: function(status) {
        return status == 'noTask';
      },

      resumeTimer: function() {
        chrome.runtime.sendMessage({method: "resume-timer"});
      },

      isRunning: function(status) {
        return status == 'running';
      },

      pauseTimer: function() {
        chrome.runtime.sendMessage({method: "pause-timer"});
      },

      stopTimer: function() {
        chrome.runtime.sendMessage({method: "stop-timer"});
      },

      rewindTimerHalfHour: function() {
        this.rewindTimer(30, '時間を30分戻しました');
      },

      rewindTimerOneHour: function() {
        this.rewindTimer(60, '時間を1時間戻しました');
      },

      rewindTimer: function(minutes, message) {
        var self = this;
        chrome.runtime.sendMessage({method: "rewind-timer", param: { minutes: minutes } }, function(response) {
          if (response.success) {
            self.$["modify-toast"].text = message;
            self.$["modify-toast"].show();
            self.$["rewind-menu"].close();
          }
        });
      },

      resetTimer: function() {
        var self = this;
        chrome.runtime.sendMessage({method: "reset-timer"}, function(response) {
          if (response.success) {
            self.$["modify-toast"].text = "時間をリセットしました";
            self.$["modify-toast"].show();
            self.$["rewind-menu"].close();
          }
        });
      },

      revertResetTimer: function() {
        var self = this;
        chrome.runtime.sendMessage({method: "revert-reset-timer"}, function(response) {
          if (response.success) {
            self.$["modify-toast"].hide();
          }
        });
      }

    });
  </script>
</dom-module>
